[Unit]
Description=serial_sender.service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /opt/gadgetini/src/exporter/serial_sender.py
Restart=always
User=deepgadget
[Install]
WantedBy=default.target
