[Unit]
Description=dg5W DLC system sensor data serial receiver from host.
After=data_crawler.service
[Service]
Type=simple
ExecStart=python3 /opt/serial_receiver.py
Restart=always
RestartSec=5
User=gadgetini
Group=gadgetini
[Install]
WantedBy=multi-user.target

