[Unit]
Description=dg5w DLC system sensor data crawling data.
After=redis.service
[Service]
Type=simple
ExecStart=python3 /home/gadgetini/gadgetini/src/exporter/data_crawler_dg5R.py
Restart=always
RestartSec=5
User=gadgetini
Group=gadgetini
[Install]
WantedBy=multi-user.target
