[Unit]
Description=host-exporter.service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/dg-wh4-001/gadgetini/src/exporter/host_exporter.py
Restart=always

[Install]
WantedBy=default.target
