[Unit]
Description=serial_sender.service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3.12 /opt/serial_sender_v2.py
Restart=always
User=admin
[Install]
WantedBy=default.target
