[Unit]
Description=dg5w external LCD display pannel control daemon.
After=data_crawler.service
Requires=networking.service
[Service]
Type=simple
ExecStart=python3 /home/gadgetini/gadgetini/src/display/display_main.py
WorkingDirectory=/home/gadgetini/gadgetini/src/display
Restart=always
RestartSec=3
User=gadgetini
Group=gadgetini
[Install]
WantedBy=multi-user.target