[Unit]
Description=dg5W DLC system sensor data serial receiver from host.
After=dev-ttyAMA0.device data_crawler.service
Requires=dev-ttyAMA0.device
[Service]
Type=simple
ExecStartPre=/bin/chmod 777 /dev/ttyAMA0
ExecStart=python3 /opt/serial_receiver_v2.py
Restart=always
RestartSec=5
User=gadgetini
Group=gadgetini
[Install]
WantedBy=multi-user.target

